@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

/*Manejo de background*/
* {
    background-color: rgb(23, 33, 39);
    overflow: hidden;

}


/*google fonts*/
h1{
    font-family: 'Grape Nuts', cursive;
    font-size: 50px;
}

p{
    font-size: 20px;
}

/* display: flex y majeno de caja*/
.container {
    box-sizing: border-box;
    display: flex;
    border: 40px solid rgb(38, 148, 212);
    justify-content: space-evenly;


}

.box-one {
    color: aliceblue;
    clip-path: polygon(0 0, 81% 0, 100% 100%, 0 100%);
    text-align: center;
    width: 50%;
    padding: 100px;
  

}

.box-two {  
    clip-path: circle(63.4% at 73% 46%);
    
}

.button{
    display: inline-block;
    background:rgb(38, 148, 212);
    border-radius: 15%;
    font-family: "arial-black";
    font-size: 14px;
    color: #FFF;
    padding: 8px 12px;
    cursor: pointer;   
  }

#movie-photo {
    width: 100%;
    height: auto;
  }