body {
    background-color: #BEBEBE;
    color: Black;
    padding: 1%;
}

header {
    background-color: #999999;
    font-size: xx-large;
    font-style: italic;
    font-weight: bolder;
    padding: 1%;
}

main {
    background-color: #CCCCCC;
    padding: 1%;
}

h1 {
    background-color: #7F7F7F;
    font-size: x-large;
    padding: 1%;
}

h2 {
    background-color: #B3B3B3;
    font-size: large;
    padding: 1%;
}

p {
    align-content: center;
    background-color: #c6c4c4;
    padding: 1%;
}

em {
    background-color: #B3B3B3;
}

strong {
    background-color: #B3B3B3;
    padding: 1%;
}

ul {
    background-color: #999999;
    padding: 1%;
}

li {
    background-color: #c6c4c4;
    padding: 1%;
}

footer {
    background-color: #999999;
    padding: 1%;
}

/* eliminamos los estilos de los enlaces*/
a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/*herencia*/
header , footer {
    text-align: center;
}

/*border*/
main  {
    border-radius: 30% 10%;
    background-color:  white !important;
}

/*variables*/

:root {
    --blue: #c7dcf0;
    --white: #ebecee;
    --black: #01050e;
    
  }
body{
    background-color: var(--blue); 
}
a{
    color: var(--black);
}
h1, h2 {
    color: var(--white);
}

/*pseudoclases*/
main > p {
    display: none;
    font-size:  20px;

}

main:hover p {
    display: block;
}

/*pseudoelement*/